.App {
  text-align: center;
  padding: 100px;
  display: flex;
  justify-content: center;
}
h1{
  font-size: 40px;
}
.card{
  background: yellow;
  box-shadow: 0 0 20px green;
  border-radius: 20px;
}
.card ul{
  text-align: left;
  margin-top: 40px;
}
img{
  border-radius: 20px;
  box-shadow: 0 0 20px 5px blue;
}
li{
  margin: 10px;
}
i{
  margin-right: 20px;
}
body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li{
  list-style: none;
}
button{
  padding: 10px;
  margin: 20px;
  font-size: 40px;
  width: 80px;
  height: 80px;
  background: black;
  border-radius: 95%;;
}
button i{
  color: white;
  margin-left: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
